@media only screen and (max-width: 600px) {
  .NumberPad {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }
  .NumberKey {
    font-size: 8vw;
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    margin: 0%;
    padding: 0%;
  }
}
@media only screen and (min-width: 600px) {
  .NumberPad {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .NumberKey {
    font-size: clamp(1rem, 4vw, 3.5rem);
    width: clamp(2rem, 6vw, 5rem);
    height: clamp(2rem, 6vw, 5rem);
    background-color: #eaeef4;
    margin: 3%;
    padding-top: 1%;
    padding-bottom: 10%;
  }
}
.NumberKey {
  color: #0072e3;
  border: none;
}
.NumberKey:hover {
  background-color: rgb(216, 228, 247);
}
.NumberKey:disabled {
  color: lightgrey;
}
.NumberKey:disabled:hover {
  background-color: #eaeef4;
}
